<footer class="flex flex-row items-center justify-around bg-[var(--second-bg-color)] text-[var(--text-color)] bottom-0  h-[50px] w-full px-6">
    <div>
        <p class="text-ms md:text-base">Created by Cristiano Gheu &copy; 2025</p>
    </div>
    <div class="flex bg-[var(--main-color)] w-8 h-8 md:w-10 md:h-10 rounded-full items-center justify-center cursor-pointer hover:opacity-90">
        <a href="#home" class="flex items-center justify-center w-full h-full">
            <mat-icon class="text-lg">arrow_upward</mat-icon>
        </a>
    </div>
</footer>