<div class="flex flex-col justify-center items-center min-h-screen p-10 md:p-0">
    <h1 class="text-4xl md:text-5xl font-bold text-[var(--text-color)]" style="margin-bottom: 20px; margin-top: 50px;">Tech Skills</h1>
    <div class="flex justify-center items-center">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2 md:gap-5 lg:gap-10">
        <!-- Colonna sinistra -->
        <div class="skills-container">  
            <div class="skill-bar">
                <div class="flex justify-between">
                    <span class="progress-text">HTML</span>
                    <span class="progress-text">90%</span>
                </div>
                <div class="progress-bar">
                        <div class="w-[90%] progress-bar-fill">
                    </div>
                </div>
            </div>

            <div class="skill-bar">
                <div class="flex justify-between mb-2">
                    <span class="progress-text">CSS</span>
                    <span class="progress-text">90%</span>
                </div>
                <div class="progress-bar">
                        <div class="w-[90%] progress-bar-fill">
                        </div>
                </div>
            </div>

            <div class="skill-bar">
                <div class="flex justify-between mb-2">
                    <span class="progress-text">JAVASCRIPT</span>
                    <span class="progress-text">80%</span>
                </div>
                <div class="progress-bar">
                        <div class="w-[80%] progress-bar-fill">
                        </div>
                </div>
            </div>

            <div class="skill-bar">
                <div class="flex justify-between mb-2">
                    <span class="progress-text">TYPESCRIPT</span>
                    <span class="progress-text">75%</span>
                </div>
                <div class="progress-bar">
                    <div class="w-[75%] progress-bar-fill">
                    </div>
                </div>
            </div>

            <div class="skill-bar">
                <div class="flex justify-between mb-2">
                    <span class="progress-text">ANGULAR</span>
                    <span class="progress-text">75%</span>
                </div>
                <div class="progress-bar">
                        <div class="w-[75%] progress-bar-fill">
                        </div>
                </div>
            </div>
        </div>

        <!-- Colonna destra -->
        <div class="skills-container">
            <div class="skill-bar">
                <div class="flex justify-between mb-2">
                    <span class="progress-text">BOOTSTRAP</span>
                    <span class="progress-text">50%</span>
                </div>
                <div class="progress-bar">
                        <div class="w-[50%] progress-bar-fill">
                        </div>
                </div>
            </div>

            <div class="skill-bar">
                <div class="flex justify-between mb-2">
                    <span class="progress-text">TAILWIND</span>
                    <span class="progress-text">50%</span>
                </div>
                <div class="progress-bar">
                        <div class="w-[50%] progress-bar-fill">
                        </div>
                </div>
            </div>

            <div class="skill-bar">
                <div class="flex justify-between mb-2">
                    <span class="progress-text">API</span>
                    <span class="progress-text">70%</span>
                </div>
                <div class="progress-bar">
                        <div class="w-[50%] progress-bar-fill">
                        </div>
                </div>
            </div>

            <div class="skill-bar">
                <div class="flex justify-between mb-2">
                    <span class="progress-text">GIT</span>
                    <span class="progress-text">60%</span>
                </div>
                <div class="progress-bar">
                        <div class="w-[60%] progress-bar-fill">
                        </div>
                </div>
            </div>

            <div class="skill-bar">
                <div class="flex justify-between mb-2">
                    <span class="progress-text">DEPLOY ON FIREBASE</span>
                    <span class="progress-text">60%</span>
                </div>
                <div class="progress-bar">  
                        <div class="w-[60%] progress-bar-fill">
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
