<div class="flex flex-col items-center justify-center min-h-screen p-6">
    <h1 class="text-4xl md:text-5xl font-bold text-[var(--text-color)]" style="margin-bottom: 30px; margin-top: 100px;">My Projects</h1>
    <div class="projects-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="project-card">
            <img src="assets/projects-photo/project-finale.png" alt="">
            <div class="project-layer">
                <h2>Final Project – Front End Development</h2>
                <p>For the Final Front End Development project, I developed a web app featuring dashboards to visualize data on global warming.</p>
                <a class="button-project" href="https://progetto-finale-front-end-dev.web.app/" target="_blank"><mat-icon>open_in_new</mat-icon></a>
            </div>
            </div>
            <div class="project-card">
                <img src="assets/projects-photo/project-angular2.png" alt="">
                <div class="project-layer">
                    <h2>Angular Project – NaturalSocial</h2>
                    <p>For this project, I developed an Angular application called NaturalSocial, aimed at improving people’s lives in urban areas.</p>
                    <a class="button-project" href="https://github.com/CristianoGheu/ProgettoAngular" target="_blank"><mat-icon>open_in_new</mat-icon></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/projects-photo/project-angular.png" alt="">
                <div class="project-layer">
                    <h2>Angular Project – HackerNews</h2>
                    <p>For this project, I developed an Angular application that displays the latest 10 news articles using the Hacker News API. A button allows users to load 10 more news articles.</p>
                    <a class="button-project" href="https://progetto-angular2.firebaseapp.com/" target="_blank"><mat-icon>open_in_new</mat-icon></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/projects-photo/project-typescript.png" alt="">
                <div class="project-layer">
                    <h2>TypeScript Project</h2>
                    <p>For this project, I developed a TypeScript system using interfaces and classes to showcase how technology can enhance operational efficiency and foster micromobility growth.</p>
                    <a class="button-project" href="https://codepen.io/Cristiano-Gheu/pen/ZYYYzEg" target="_blank"><mat-icon>open_in_new</mat-icon></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/projects-photo/project-javascriptAdvanced.png" alt="">
                <div class="project-layer">
                    <h2>JavaScript Advanced Project - HackerNews</h2>
                    <p>For this project, I developed an application using JavaScript that fetches the latest 10 news articles through the Hacker News API, and loads 10 more articles with a button click.</p>
                    <a class="button-project" href="https://progetto-javascript-adva-85b3d.firebaseapp.com/" target="_blank"><mat-icon>open_in_new</mat-icon></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/projects-photo/project-javascriptBasics.png" alt="">
                <div class="project-layer">
                    <h2>JavaScript Basics Project – Counter</h2>
                    <p>For this project, I developed an application that functions as a counter, allowing the user to increase and decrease the counter value.</p>
                    <a class="button-project" href="https://progetto-javascriptbasic-8fae3.firebaseapp.com/" target="_blank"><mat-icon>open_in_new</mat-icon></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/projects-photo/project-html-css.png" alt="">
                <div class="project-layer">
                    <h2>HTML & CSS Project – First Personal Website</h2>
                    <p>My first project, I developed my first personal website using HTML and CSS.</p>
                    <a class="button-project" href="https://github.com/CristianoGheu/Progetto_Html_css" target="_blank"><mat-icon>open_in_new</mat-icon></a>
                </div>
            </div>
    </div>
</div>