.social-link {
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-color);
    background-color: transparent;
}

@media (min-width: 768px) {
    .social-link {
        width: 2.5rem;
        height: 2.5rem; 
    }
}